.mainBlock {
    height: 100vh;
    background-color: darkolivegreen;
}

.container {
    border: 1px solid;
    height: 100%;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.text {
    width: 360px;
    background-color: gold;
}

.photo {
    width: 400px;
    height: 500px;
    background-color: gold;
}